.DS_Store
tmp
bin
build

*/*/modules
*/*/modules*
.apt_generated
build.properties
.svn
*.pyc
*~.nib/
*.pbxuser
*.perspective
*.perspectivev3
*.xcworkspace/
xcuserdata
*.xcuserstate
*.xcuserdata*

.idea/
libs/

nbproject

/ios/metadata.json
/ios/dist
/ios/appcelerator.socialshare-iphone-*.zip

node_modules/

TESTS-*.xml

.vscode/
